@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    width:550px;
    height:550px;
    margin: 0;
    background-color: #ECFDF5;
    margin-left: 52px;
    font-family: Inter;
    
}

.hd {
    font-weight: 800;
    font-size: 40px;
}

#h1 {
    margin-top: 115px;
    font-family: Karla;
    color: #2B283A;
}

#h2 {
    font-family: Inter;
    color: #10B981;
    margin-bottom: 10px;
}

#sup {
    color: #6B7280;
    margin-bottom: 35px;
    font-weight: 400;
}

#b1 {
    font-family: Inter;
    border: none;
    width: 191px;
    height: 42px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 17px;
    background-color: #10B981;
    border-radius: 6px;
    color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    margin-bottom: 65px;
}

#ln {
    color: #D5D4D8;
    margin-bottom: 35px;
    
}

#bb1 {
    margin-right: 24px;
    width:211px;
    height:39px;
    color: #5DEF92;
    border: none;
    background-color: #273549;
    border-radius: 6px;
    white-space: nowrap;    
}

#bb2 {
    width:211px;
    height:39px;
    color: #5DEF92;
    border: none;
    background-color: #273549;
    border-radius: 6px;
}

#len {
    width: 30px;
    height: 30px;
    margin-right: 77px;
    background-color: #273549;
    border: none;
    color: #5DEF92 ;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
}